.landing_page * {
  font-family: Nunito, sans-serif;
}

.landing_page .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: flex-start;
}

.landing_page .text-blk {
  margin: 0;
  line-height: 25px;
}

.landing_page .responsive-cell-block {
  min-height: 75px;
}

.landing_page .responsive-container-block.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* ---------------- FORM CARD ---------------- */
.landing_page .form-box {
  background-color: #0B1220;
  color: #F9FAFB;
  padding: 35px 33px;
  max-width: 506px;
  border: 1px solid rgba(154, 168, 255, 0.25);
  box-shadow:
    0 0 0 1px rgba(154, 168, 255, 0.08),
    0 30px 70px rgba(0, 0, 0, 0.9);
}

.landing_page .text-blk.contactus-head {
  font-size: 30px;
  line-height: 40px;
  color: #F9FAFB;
}

.landing_page .text-blk.contactus-subhead {
  color: #CBD5F5;
  margin-bottom: 18px;
}

/* ---------------- INPUTS ---------------- */
.landing_page .input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  padding: 1px 12.5px 1px 22.5px;
  border: none;
  background-color: #020617;
  color: #F9FAFB;
}

.landing_page .textinput {
  width: 100%;
  height: 133px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 22px;
  background-color: #020617;
  border: none;
  color: #F9FAFB;
}

/* ---------------- BUTTON ---------------- */
.landing_page .submit-btn {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background-color: #9AA8FF;
  font-size: 18px;
  font-weight: 600;
  color: #020308;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.landing_page .submit-btn:hover {
  box-shadow: 0 12px 35px rgba(154, 168, 255, 0.45);
  transform: translateY(-1px);
}

/* ---------------- LAYOUT HELPERS ---------------- */
.landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
  padding-right: 10px;
}

.landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
  display: flex;
  justify-content: center;
}

.landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #F9FAFB;
}

/* ---------------- TEXT BLOCKS ---------------- */
.landing_page .text-blk.section-subhead {
  max-width: 420px;
  font-size: 18px;
  color: #CBD5F5;
  margin-bottom: 50px;
}

.landing_page .text-blk.section-head {
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  color: #F9FAFB;
  text-shadow: 0 0 18px rgba(154, 168, 255, 0.35);
  max-width: 450px;
}

/* ---------------- ICONS ---------------- */
.landing_page .icons-container {
  max-width: 450px;
  display: flex;
  justify-content: space-evenly;
}

.landing_page .img {
  width: 31px;
  height: 31px;
}

/* ---------------- BACKGROUND ---------------- */
.landing_page .responsive-container-block.big-container {
  background-color: rgba(2, 3, 8, 0.85);
  padding-left: 50px;
  position: relative;
}

.landing_page .bg-img {
  width: 100%;
  position: absolute;
  inset: 0;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    justify-content: center;
    margin-bottom: 30px;
  }

  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .landing_page .text-blk.section-head {
    font-size: 26px;
    line-height: 40px;
  }

  .landing_page .responsive-container-block.big-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .landing_page .text-blk.section-subhead {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .landing_page .form-box {
    padding: 30px 15px;
  }

  .landing_page .input {
    height: 45px;
  }

  .landing_page .text-blk.contactus-head {
    font-size: 24px;
    line-height: 34px;
  }
}








@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}